# Ignore everything by default
*

# Allow only specific folders
!alacritty/
!hypr/
!nvim/
!rofi/
!waybar/
!yazi/
!mako/
!assets/

# Ensure Git includes the contents of those folders
!alacritty/**
!hypr/**
!nvim/**
!rofi/**
!waybar/**
!yazi/**
!mako/**
!assets/*.webp

# Allow README.md
!.gitignore
!README.md
